target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.flattened-pom.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/user-core/src/test/java/
/user-core/src/test/java/


### claude code /cursor ,避免层级过深，忽略一些团队的规范定义
.claude/settings.local.json
# Added by code-review-graph
.code-review-graph/
.codex/settings-snowball-local.xml
.m2-local/
# Added by code-review-graph
.code-review-graph/
.claude/skills/debug-issue
.claude/skills/explore-codebase
.claude/skills/refactor-safely
.claude/skills/review-changes
