[mysqld]
# 缓存索引和数据的内存大小，这个当然是越多越好， 数据读写在内存中非常快， 减少了对磁盘的读写
# 默认单位字节，默认值为134217728，128MB /1024=KB, /1024=MB /1024=GB
# 如果mysql为独立主机的话，建议设置值为实际物理内存的1/2或3/4
# 可在线调整，SET GLOBAL innodb_buffer_pool_size=402653184;
# 监控报告调整大小的进度，SHOW STATUS WHERE Variable_name='InnoDB_buffer_pool_resize_status';
innodb_buffer_pool_size=1G
# 需要重启，将innodb_buffer_pool_size大于1 GB的内存缓冲池拆分成多个实例进行维护，每个实例都有自己的锁、信号量、物理块（Buffer chunks）以及逻辑链表，各实例之间没有竞争关系，可以并发读取与写入
# innodb_buffer_pool_instances=1
# 需要重启，将打开的表缓存划分为几个大小为table_open_cache / table_open_cache_instances的较小缓存实例，减少会话（Session）间表缓存的争用
table_open_cache_instances=16
# 无需重启，表缓存的数量，表缓存用于将表加在到缓存中，实现快速访问该表。如果该值偏小，则有可能在高并发时引起SQL性能问题。
# 执行SHOW GLOBAL STATUS LIKE 'Open_tables'，如果返回的值接近或等于当前table_open_cache设置的值时，建议适当调大本参数
table_open_cache=2048
max_connections=3000
# The minimum size of the buffer that is used for plain index scans, range index scans, and joins that do not use
# indexes and thus perform full table scans.default 512K.影响join操作
join_buffer_size=16M
# 需要重启，默认3000.MySQL每处理一个连接请求时都会创建一个新线程与之对应。
# 在主线程创建新线程期间，如果前端应用有大量的短连接请求到达数据库，
# MySQL会限制这些新的连接进入请求队列，由参数back_log控制。如果等待的连接数量超过back_log的值，
# 则不会接受新的连接请求，所以如果需要MySQL能够处理大量的短连接，需要提高此参数的大小
# 如果参数过小，应用可能出现如下错误。SQLSTATE[HY000] [2002] Connection timed out;
back_log=3000
# 需要重启，该参数可以设置的值为0、1、2.建议将该参数值改为2，如果是2binlog的格式需要被设置为row
# 表示所有情况插入都使用轻量级别的mutex锁（只针对row模式），这样就可以避免auto_inc的死锁，
# 同时在INSERT … SELECT的场景下性能会有很大提升。
innodb_autoinc_lock_mode=2
# 无需重启，等待将一个block发送给客户端的超时时间，单位秒。若参数设置过小，可能会导致客户端出现如下错误：
# the last packet successfully received from the server was milliseconds ago或the last packet sent successfully to the server was milliseconds ago.
net_write_timeout=60

# If you see many sort_merge_passes per second in SHOW GLOBAL STATUS output, you can consider increasing the
# sort_buffer_size value to speed up ORDER BY or GROUP BY operations that cannot be improved with query optimization
# or improved indexing. default 256K.影响排序操作
sort_buffer_size=2M

# 日志存储类型，可选FILE和TABLE，存储在mysql.general_log
log_output=FILE
# 打开日志
general_log=1

# 慢查询超时时间 慢查询明细在mysql.slow_log
long_query_time=3

# 开启binlog
log_bin = mysql-bin
binlog_format = ROW


# 删除前导#以设置主要用于报表服务器的选项。
# 对于事务和快速选择，服务器默认值更快。
# 根据需要调整大小，进行实验以找到最佳值
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
