<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.common.websocket.mapper.MerchantMessageInfoMapper">



    <insert id="ignoreSave" parameterType="com.ddf.boot.common.websocket.model.entity.MerchantMessageInfo">
        <!-- 依赖于trade_no的唯一索引，这里只做第一次的保存插入，其它任何和报文无关数据都先不解析存入 -->
        insert ignore merchant_message_info(id, request_id, device_number, cmd, status, error_message, error_stack,
        single_message_payload, trade_no) values
        (
        #{message.id}, #{message.requestId}, #{message.deviceNumber}, #{message.cmd}, #{message.status},
        #{message.errorMessage}, #{message.errorStack}, #{message.singleMessagePayload}, #{message.tradeNo}
        )
    </insert>

    <insert id="batchIgnoreSave" parameterType="java.util.List">
        <!-- 依赖于trade_no的唯一索引，这里只做第一次的保存插入，其它任何和报文无关数据都先不解析存入 -->
        insert ignore merchant_message_info(id, request_id, device_number, cmd, status, error_message, error_stack,
                                            single_message_payload, trade_no) values

        <foreach collection="messages" item="message" index="index" separator=",">
            (
                 #{message.id}, #{message.requestId}, #{message.deviceNumber}, #{message.cmd}, #{message.status},
                 #{message.errorMessage}, #{message.errorStack}, #{message.singleMessagePayload}, #{message.tradeNo}
            )
        </foreach>
    </insert>


</mapper>
